.s-card{
    background-color: #9eb365be;
    height: 400px;
    display: flex;
    margin: 10px 0 100px 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size:25px ;

}
.s-card-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media only screen and (max-width: 900px) {

    .s-card-items{
        flex-direction: column;
    }
    .s-card{
        height: 850px;
        margin: 10px 0 20px 0;
        font-size:18px ;
    }

}