.start-now{
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: Montserrat;
    margin-bottom: 20px;
    background-color: rgba(63, 67, 0, 0.788);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 900px){
    .start-now{
        width: 300px;
       
    }
}